{% if films %}

    {% csrf_token %}
    <ul class="list-group col-4">
    {% for film in films %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ film.name }}
            <span class="badge badge-danger badge-pill" 
                style="cursor: pointer;"
                hx-delete="{% url 'delete-film' film.pk %}"
                hx-target="#film-list"
                hx-confirm="Are you sure you wish to delete?">X</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You do not have any films in your list</p>
{% endif %}