#navbar {
    height: 100px;
}
<<<<<<< HEAD
=======

.success {
    color: green;
    transition: all ease-in .5s;
}

.error {
    color: red;
    font-size: 50px;
    transform: rotate(45deg);
    transition: all ease-in 5s;
}
>>>>>>> 43f08fbf71f750fc194cf9f1edeaf05bbdeb06a4
